* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: 0.1s;
  font-family: monospace;
}

a {
  text-decoration: none;
}

.container {
  background-color: #f8f9fa;
  color: #282c2f;
  padding: 20px;
}

.dark-mode {
  background-color: #282c2f;
  color: #f8f9fa;
  border-color: #f8f9fa;
}

/******************* light mode *******************/
.caculator {
  position: relative;
  width: 100%;
  padding: 30px;
  border: 2px solid #edf1f4;
  border-radius: 20px;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
}
.caculator .buttons {
  position: relative;
  display: grid;
  gap: 20px;
}
.caculator .buttons #value {
  position: relative;
  grid-column: span 4;
  overflow: none;
  text-align: end;
  width: 100%;
  line-height: 100px;
  box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
  border-radius: 10px;
  padding: 0 20px;
  color: #5166d6;
  font-size: 2.5em;
  font-weight: bold;
  margin-bottom: 20px;
  overflow: hidden;
}
.caculator .buttons span {
  position: relative;
  padding: 5px;
  box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  min-width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
  color: #666;
  border: 2px solid #edf1f4;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1), -5px -5px 10px #fff;
  border-radius: 10px;
  transition: active 0.01s;
}
.caculator .buttons span:active, .caculator .buttons span.active {
  box-shadow: inset 5px 5px 10px rgba(0, 0, 0, 0.1), inset -5px -5px 10px #fff;
}
.caculator .buttons span#clear {
  grid-column: span 2;
  font-weight: bold;
  color: #f44336;
  font-weight: bold;
  font-size: 2em;
}
.caculator .buttons span#clear:active {
  color: #31a935;
}
.caculator .buttons span#plus {
  grid-row: span 2;
  color: #5166d6;
  font-weight: bold;
  font-size: 2em;
}
.caculator .buttons span#plus:active {
  color: #f44336;
}
.caculator .buttons span#equal {
  font-weight: bold;
  color: #31a935;
  font-weight: bold;
  font-size: 1.5em;
}
.caculator .buttons span#equal:active {
  color: #f44336;
}

#darkModeToggle {
  padding: 5px;
  box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
  color: #666;
  border: 2px solid #edf1f4;
  border-radius: 50%;
}
#darkModeToggle:active {
  box-shadow: inset 5px 5px 10px rgba(0, 0, 0, 0.1), inset -5px -5px 10px #fff;
  color: #282c2f;
}
#darkModeToggle i {
  padding: 5px 7px;
}

/******************* dark mode *******************/
.dark-mode .caculator {
  background-color: #33393e;
  border: 2px solid #333;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25), -5px -5px 10px rgba(255, 255, 255, 0.1);
}
.dark-mode .caculator #value {
  background-color: #33393e;
  color: #f8f9fa;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.25) inset, -10px -10px 20px rgba(255, 255, 255, 0.1) inset;
}
.dark-mode .caculator span {
  color: #f8f9fa;
  border: 2px solid #333;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25), -5px -5px 10px rgba(255, 255, 255, 0.1);
}
.dark-mode .caculator span:active, .dark-mode .caculator span.active {
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25) inset, -5px -5px 10px rgba(255, 255, 255, 0.1) inset;
}

.dark-mode #darkModeToggle {
  color: #f8f9fa;
  border: 2px solid #333;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25), -5px -5px 10px rgba(255, 255, 255, 0.1);
}
.dark-mode #darkModeToggle:active {
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25) inset, -5px -5px 10px rgba(255, 255, 255, 0.1) inset;
}
.dark-mode #darkModeToggle i {
  padding: 5px;
}